$component-name: 'c-button';

.#{$component-name} {
  font-family: 'Poppins';
  letter-spacing: 0.3px;
  font-weight: bold;
  background-color: #0d1117;
  font-size: .875rem;
  padding: .5rem 2rem;
  color:white;
  border-style: none;
  border-width: 0;
  
  &:focus {
    border: none;
  }

  &:hover {
    cursor: pointer;
    background-color: lighten(#0d1117, 8%);
  }

}
