$component-name: 'c-breadcrumb';

.#{$component-name} {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__logo {
        width: auto;
        height: 28px;
        
        &:hover{
            cursor: pointer;
        }
    }

    &__info {
        padding-top: rem(10);
        padding-left: rem(10);
        color: rgba(14,19,24,.7);
        font-weight: 300;
        letter-spacing: 0.05rem;
    }
    
}